<!DOCTYPE html>
<html>
<head>
    <title>Book List</title>
</head>
<body>
    <h1>Books</h1>
    <ul>
        {% for book in books %}
            <li>
                <strong>{{ book.title }}</strong><br>
                Price: ${{ book.price }}<br>
                Author: {{ book.author.name }}<br>
                Categories:
                <ul>
                    {% for category in book.categories.all %}
                        <li>{{ category.name }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% empty %}
            <li>No books available.</li>
        {% endfor %}
    </ul>
</body>
</html>
